@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
    
}


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    backdrop-filter: blur(10px); /* Apply the blur effect */

}
.logo{
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.nav_links{
    list-style: none;
    margin:auto;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    
}
.nav_links li a{
    transition:  all 0,s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9
}

.cta{
    margin-right: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .4s;
}
.cta:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: rgba(0, 136, 169, 1);
}


.banner{
    font-family: "Montserrat", sans-serif;
    text-align: right;
    font-size: 20px;
    color: aliceblue;
    height: 91vh;
    padding-top: 15%;
    padding-right: 35%  
}
#abtme{
    text-align:justify;
    padding: 20px 10%;
    padding-top: 5%;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    height: 91vh;
}
#abtme h2{
    text-align: center;
    font-size: 80px;
}

#abtme p{
    text-align: justify;
    padding-top: 5%;
    font-size: 20px;
}
#abtme h1{
    padding-top: 5%;
    font-size: 50px;
    text-align: center;
}

.gallery-container {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-container img {   
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
.gallery-container img:hover{
    filter: grayscale(1);
    transform:  scale(1.03);
}

.dbutton{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download{
    padding: 18px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .4s;
}
.download :hover{
    transform: scale(1.3);
    cursor: pointer;
    background-color: rgba(0, 136, 169, 1);
}
.work{
    text-align:justify;
    padding: 20px 10%;
    padding-left: 50%;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    height: 91vh;
}
#we h2{
    padding-top: 10%;
    font-size: 80px;  
}

#we h3{
    font-size: 30px;
    padding-top: 5%;
    list-style: none;
}

.work .rfp{
    display: inline-block;
    padding: 0px 20px;
    
}
.work .rfp{
    transition:  all 0,s ease 0s;
}
.work .rfp:hover{
    color: #0088a9
}
#we .rfp {
    font-size: 115%;
    
}

#we .rfp :hover{
    background-color: rgba(0, 136, 169, 1);
}

#we h4{
    font-size: 30px;
    padding-top: 5%;
    list-style: none;
}

#we .abts {
    font-size: 115%;
}

.work .abts{
    display: inline-block;
    padding: 0px 20px;
}
.work .abts:hover{
    color: #0088a9
}
.work .abts{
    transition:  all 0,s ease 0s;
}

#we .abts :hover{
    background-color: rgba(0, 136, 169, 1);
}

#we p{
    padding-top: 5%; 
    padding-left: 3%;
}


